.img-presentazione{
    height: 60vh;
    width: 100%;
    object-fit: cover;
}
.data-title{
    white-space:nowrap;
}

@media screen and (max-width: 767px) {
    .img-presentazione{
        height: 40vh;
    }
}
